/* style.css fayli */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: SlateBlue;
    color: white;
    padding: 10px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Boshqa stil usullari */
